<% include ./partials/header %>
<section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
						
						
					</div>
				</div>
            </div>
        </section>
        
        
    <form action="/urunBilgileri/ikinciEl/<%=ikinciEl._id %>?_method=PUT" method="POST"  >
    	<head><strong>Urun Adı</strong></head>
		<input style="margin-bottom: 10px; " class="form-control" type="text" name="ikinciEl[name]" value="<%= ikinciEl.name %>" >
		<head><strong>Urun Fiyatı</strong></head>
		<input style="margin-bottom: 10px; " class="form-control" type="text" name="ikinciEl[fiyat]" value="<%= ikinciEl.fiyat %>" >
		<head><strong>Urun Resim Adresi</strong></head>
		<input style="margin-bottom: 10px; " class="form-control" type="text" name="ikinciEl[resim]" value="<%= ikinciEl.resim %>" >
		<head><strong>Urun Metni</strong></head>
		<input style="margin-bottom: 10px; " class="form-control" type="text" name="ikinciEl[metin]" value="<%= ikinciEl.text %>" >
		
		<button style="margin-bottom: 10px;" class="btn btn-warning btn-lg btn-block">Güncelle</button>
	</form>
	<form action="/urunBilgileri/ikinciEl/<%=ikinciEl._id %>?_method=DELETE" method="POST">
		<button style="margin-bottom: 200px;" class="btn btn-danger btn-lg btn-block">SİL</button>
	</form>

<% include ./partials/footer %>